.str-info {
    z-index: 10;
    position: absolute;
    bottom: 14%;
    min-width: 200px;
    left: 37%
  }

.str-info p {
    font-size: 16px;
}

.sectionsContainer button {
  border: 0.5px solid;
  border-radius: 20px;
  padding: 10px;
}

.twofaContainer {
  background-color: rgba(251, 183, 208, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-right: 1%;
  padding-left: 1%;
  align-items: flex-start;
}

.twofaContainer h2 {
  margin-bottom: 2%;
}
  
  