.subscription-modal {
    width: 100%;
    color: #000;
    font-family: 'Inter';
    gap: 0;
    justify-self: center;
    overflow: hidden;
}

.modal-title {
    background-color: #FF8DBF;
    padding: 20px;
    border-radius: 25px 25px 0px 0px;
    margin: 0;
    text-align: left;
    position: relative;
    color: white;
}

.modal-title h1 {
    font-weight: 700;
    font-size: 64px;
    margin-bottom: 0;
    font-family: 'Orbitron';
}

.modal-title p {
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.subscription-info {
    background-color: white;
    border-radius: 0 0 25px 25px;
    margin: 0;
}

.subscription-feature h1 {
    margin: 0;
    font-size: 24px;;
}

.subscription-feature p {
    margin: 0;
    font-size: 14px;;
}


.subscription-features {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 8%;
    justify-content: center;
}


.subscription-feature {
    background: linear-gradient(rgba(251, 183, 208, 0.5), rgba(250, 21, 131, 0.5));
    width: 18%;
    min-height: 190px;
    padding: 15px;
    border-radius: 18px;
    text-align: center;
    color: black;
    border: none;
    align-content: center;
    justify-content: center;
    margin: 2% 0;
    font-family: 'Inter';
}

.subscription-feature h1, .subscription-feature p {
    max-width: 80%;
    text-align: center;
    justify-self: center;
}

.buySubButton {
    font-size: 20px;
    background-color: #FF8DBF;
    padding: 17px 60px;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 20px;
    font-family: 'Inter';
    margin-bottom: 2%;
    cursor: pointer;
}

.subscriptionEyeSmoothIcon {
    position: absolute;
    top: -2%;
    right: 3%;
    width: 35%;
    height: auto;

}

.closeModalButton {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 13%;
    right: 2%;
    cursor: pointer;
}

.closeModalButton img {
    height: 30px;
    width: 30px;
}